
/* Colorhunt - Color Palette 207391 */

div{
  padding: 7% 15%;
  line-height: 1.5;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size:16px; 

}

.navbar {
  background-color: #ffb0b0;
}

.navbar div {
  padding: 2% 2%;
}

#mindfulpause {
  background-color: #fe7171;
}

#inspiration {
  background-color: #335d2d;
  color: white;
}

@media (max-width: 1030px) {
  div{
    padding: 7% 2%;
    line-height: 1.5;

  }
}
